path.area {
  fill: url(#area-gradient);
  fill-opacity: 1;
}

path.line {
  stroke: rgb(26, 154, 249);
}

path.ema {
  stroke: #c00;
  fill: none;
}

.y-axis {
  width: 40px !important;
}

.y-axis .tick path {
  stroke: #bbb !important;
}

.y-axis .domain {
  display: none;
}

.annotation-line.vertical text {
  display: none;
}

.annotation-band.vertical {
  opacity: 0.05;
}
.volume {
  opacity: 0.5;
}

.annotation-line.horizontal line {
  display: none;
}

path.callout:nth-child(2) {
  fill: #c00;
}

path.callout:nth-child(1) {
  fill: rgb(26, 154, 249);
}

text.callout {
  font-size: 10px;
  font-family: sans-serif;
  fill: white;
}

.legend-value {
  font-size: 12px;
  font-family: sans-serif;
}

.legend-label {
  text-anchor: end;
  font-size: 12px;
  font-family: sans-serif;
}

text.callout {
  dominant-baseline: central;
  text-anchor: end;
}

d3fc-canvas {
  pointer-events: none;
}