path.area {
  fill: url(#area-gradient);
  fill-opacity: 1;
}

path.line {
  stroke: rgb(26, 154, 249);
}

path.ema {
  stroke: #c00;
  fill: none;
}

.y-axis {
  width: 1px !important;
}

.volume {
  opacity: 0.5;
}

.annotation-line line {
  display: none;
}

.annotation-line:nth-child(2) .callout path {
  fill: #c00;
}

.annotation-line:nth-child(1) .callout path {
  fill: rgb(26, 154, 249);
}

.callout text {
  font-size: 10px;
  font-family: sans-serif;
  fill: white;
}