body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

path.area {
  fill: url(#area-gradient);
  fill-opacity: 1;
}

path.line {
  stroke: rgb(26, 154, 249);
}

path.ema {
  stroke: #c00;
  fill: none;
}

.y-axis .tick path {
  stroke: #bbb;
}

.y-axis .domain {
  display: none;
}

.annotation-line.vertical text {
  display: none;
}

.annotation-line.vertical {
  stroke: #888 !important;
  stroke-width: 2px;
  stroke-dasharray: 3, 3;
}

.annotation-band.vertical {
  opacity: 0.04;
}

.annotation-crosshair .annotation-line.horizontal,
.annotation-crosshair .annotation-line.vertical {
  display: none;
}

.volume {
  opacity: 0.5;
}

.callout:nth-child(2) path {
  fill: #c00;
}

.callout:nth-child(1) path {
  fill: rgb(26, 154, 249);
}

.callout text {
  font-size: 10px;
  fill: white;
  text-anchor: end;
  dominant-baseline: middle;
}

.legend-value {
  font-size: 12px;
  fill: #444;
}

.legend-label {
  text-anchor: end;
  font-size: 12px;
  fill: #bbb;
}

d3fc-canvas {
  pointer-events: none;
}